.forgotPwDiv {
    margin-top: 60px;
}

.PswrdEmailBox {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.forgotPswrdBtn {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    max-width: 500px;
    background-color: #28a745;
    color: white;
    border-radius: 15px;
    border-color: #28a745;
    border-style: solid;
}

.forgotPswrdText {
    font-size: 75%;
}

.forgotPswrdCol {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}