.navFont {
    color: black !important;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

@media only screen and (min-width: 992px) {
    .nav {
        max-height: 56px;
    }
    .Collapsible__contentInner{
        margin-top: 340px;
        background: #08CC30;
    }
    .Collapsible__trigger {
        top: 16px;
        position: fixed;
    }
    .navbar-text {
        display: inline-flex;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-text {
        display: inline-grid;
    }
}

.Collapsible{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.Collapsible__trigger {
    display: block;
    cursor: pointer;
}