.Username {
    padding-top: 15px;
    padding-left: 1vw;
}

.DescriptionText {
    font-size: 14px;
}

.pDesc {
    margin-top: 10px;
}

.pflag {
    display: flex;
    margin-top: 5px;
}

.profilePic {
    text-align: left;
}

@media only screen and (min-width: 700px) {
    .profilePic img {
        max-width: 200px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 700px) {
    .profilePic img {
        max-width: 145px;

    }
}