.historyDiv {
    padding-top: 70px;
}

.hisCon {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.hisColL {
    text-align: left;
}

.hisColR {
    text-align: right;
}

.details {
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
}

.hisContainer {
    margin-bottom: 10px;
}

.detailsBtn{
    position: absolute;
    font-size: 25px;
    border: none;
    background: none;
}