.resetPwDiv {
    margin-top: 60px;
}

.resetFormGroup {
    margin-left: auto;
    margin-right: auto;
}

.resetPswrdBtn {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    max-width: 500px;
    background-color: #28a745;
    color: white;
    border-radius: 15px;
    border-color: #28a745;
    border-style: solid;
}

.showpassReset{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    height: 37px;
    right: 18px;
    color: black;
    width: 50px;
    line-height: 37px;
  }