.Submit {
    margin-top: 100px;
}
.fileZone {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 150px;
    padding-bottom: 20px;
}
@media only screen and (min-width: 700px) {
    .fileZone {
        width: 30%;
    }
}
@media only screen and (max-width: 700px) {
    .fileZone {
    }
}

.preview {
    max-width: 200px;
    max-height: 100px;
    margin-bottom: -140px;
    position: relative;
    top: -140px;
    z-index: -1;
}